.env
.gradio/certificate.pem
__pycache__/app.cpython-310.pyc
__pycache__/app.cpython-312.pyc
__pycache__/app.cpython-310.pyc
CHECKLIST--.md
thinkingspace-3d
knowledge_graph_1fb28302/knowledge_graph_1fb28302_chunk_0001.svg
knowledge_graph_1fb28302/knowledge_graph_1fb28302_chunk_0002.svg
knowledge_graph_1fb28302/knowledge_graph_1fb28302_chunk_0003.svg
knowledge_graph_1fb28302/knowledge_graph_1fb28302_chunk_0004.svg
knowledge_graph_1fb28302/knowledge_graph_1fb28302_chunk_0005.svg
knowledge_graph_1fb28302/knowledge_graph_1fb28302.svg
=1.5.0
